.GridContainer {
    width: 100%;
    height: 1000px;
    display: flex;
}

.filterForDbContainer {
    width: 20%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}

.productsContainer {
    width: 80%;
    height: 100%;
    background-color: rgb(240 240 240);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.productItem {
    display: flex;
    flex-direction: column;
    width: 21%;
    /* width: 17%; */
    height: 340px;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
    /* margin-left: 2%; */
    margin-bottom: 50px;
}

.productItemImg>img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.productItemImg {
    height: 60%;
    padding: 20px;
}

.productItemInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* height: 60%; */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    border-top: 0.5px solid #cfcfcf;
}
.productItemInfo>span {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: pre;
}

.buyBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buyBox>span {
    color: #090909;
    font-size: 20px;
    font-weight: bold;
}

.shoppingCartIcon {
    width: 35px;
    height: 35px;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    background: red;
    border-radius: 8px;
    cursor: pointer;
}

.starRating {
    display: flex;
    align-items: center;
}
.starRating>span {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}
.comments{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments>span{
    margin-left: 5px;
    font-size: 13px;
}
.manufacturer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-left: 10%;
    border-bottom: 0.5px solid rgb(214, 214, 214);
    padding-bottom: 20px;
}
.manufacturer>span{
    margin-top: 5px ;
    cursor: pointer;
}
.CharacteristicTitle{
    font-size: 17px;
    font-weight: bold;
    width: max-content;
    cursor: text;
}
.priceRange{
    height: fit-content;
    width: 70%;
    margin-left: 10%;
    background: grey; 
}
.input-range{
    height: fit-content;
    width: 70%;
    margin-left: 10%;
    background: grey;
    margin-top:30px;
}
.input-range-field{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.input-range-field>input{
    width: 30%;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-range__label--value{
    display: none;
}
.input-range__track{
    background: #dddddd;
}
.input-range__track--active{
    background-color: black;
}
.input-range__slider{
    background-color: black;
}
.input-range__slider{
    border: none;
    width: 8px;
    height: 18px;
    border-radius: unset;
}
.input-range__label{
    top:15px;
}
@media only screen and (max-width: 1400px) {
    .productItem{
        width: 30%;
    }
    .filterForDbContainer{
        width: 25%;
    }
    .productsContainer{
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
    .productItem{
        width: 45%;
    }
}
@media only screen and (max-width: 1100px) {
    .filterForDbContainer{
        display: none;
    }
    .productsContainer{
        width: 100%;
    }
}
@media only screen and (max-width: 535px) {
    .productItem{
        width: 100%;
    }
    .filterForDbContainer{
        display: none;
    }
    .productsContainer{
        width: 100%;
    }
}