.GridContainer {
    width: 100%;
    height: max-content;
    display: flex;
}

.filterForDbContainer {
    width: 20%;
    height: max-content;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}

.productsContainer {
    height: auto;
    background-color: rgb(240 240 240);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.grid{
    width: 80%;
    height: auto;
    background-color: rgb(240 240 240);
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}
.page-item{
    padding: 3px 8px 3px 8px;
    border: 1px solid black;
    margin: 5px;
}
.active{
    background-color: rgb(0, 132, 172);
}
.active>a{
    color: white;
}
.productItem {
    display: flex;
    flex-direction: column;
    width: 21%;
    /* width: 17%; */
    height: 340px;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
    /* margin-left: 2%; */
    margin-bottom: 50px;
}

.productItemImg>img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.productItemImg {
    height: 60%;
    padding: 20px;
}

.productItemInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* height: 60%; */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    border-top: 0.5px solid #cfcfcf;
}

.productItemInfo>span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.buyBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buyBox>span {
    color: #090909;
    font-size: 20px;
    font-weight: bold;
}

.shoppingCartIcon {
    width: 35px;
    height: 35px;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    background: red;
    border-radius: 8px;
    cursor: pointer;
}

.starRating {
    display: flex;
    align-items: center;
}

.starRating>span {
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}

.comments {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments>span {
    margin-left: 5px;
    font-size: 13px;
}

.manufacturer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-left: 10%;
    border-bottom: 0.5px solid rgb(214, 214, 214);
    padding-bottom: 20px;
}

.manufacturer>span {
    margin-top: 5px;
    cursor: pointer;
}

.CharacteristicTitle {
    font-size: 17px;
    font-weight: bold;
    width: max-content;
    cursor: text;
}

.priceRange {
    height: fit-content;
    width: 70%;
    margin-left: 10%;
    background: grey;
}

.input-range {
    height: fit-content;
    width: 70%;
    margin-left: 10%;
    background: grey;
    margin-top: 30px;
}

.input-range-field {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
}

.filterPriceInput {
    width: 30%;
    text-align: center;
    padding: 7px;
}

.filterPriceInputError {
    border: 1px solid red;
    outline-color: red;
    outline: 1px;
    background: rgba(255, 0, 0, 0.1);
}

.filterPriceInputOk {
    border: 1px solid black;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-range__label--value {
    display: none;
}

.input-range__track {
    background: #dddddd;
}

.input-range__track--active {
    background-color: black;
}

.input-range__slider {
    background-color: black;
}

.input-range__slider {
    border: none;
    width: 8px;
    height: 18px;
    border-radius: unset;
}

.input-range__label {
    top: 15px;
}

.FilterCheckbox {
    display: flex;
    flex-direction: column;
}

.CurrentCheckbox {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    border-top: 0.5px solid rgb(214, 214, 214);
    padding-top: 20px;
    padding-bottom: 20px;
}

.CurrentCheckbox>span {
    font-weight: 600;
    margin-bottom: 5px;
}

.CurrentCheckbox>label {
    padding-left: 3%;
}

.FilterSubmit {
    padding-left: 10%;
    background: rgba(0, 0, 0);
    color: white;
    width: fit-content;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    outline: none;
}

.FilterSubmit:after {
    content: "";
    background: rgb(214, 214, 214);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.FilterSubmit:active:after {
    padding: 0;
    margin: 0;
    opacity: 0.7;
    transition: 0s
}

.FilterIcon {
    margin: 20px;
    margin-top: 30px;
    margin-left: 40px;
    display: none;
}
.loaderSpiner{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 300%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 7%;
}
.loaderSpiner>svg{
    position: fixed;
}
.PorductNotFound{
    display: flex;
    align-items: center;
    height: 90%;
    text-align: center;
    font-size: 25px;
    background: #f77373;
    margin-top: 35px;
}

@media only screen and (max-width: 1400px) {
    .productItem {
        width: 30%;
    }

    .filterForDbContainer {
        width: 25%;
    }

    .grid {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    .productItem {
        width: 45%;
    }
}

@media only screen and (max-width: 1100px) {
    .GridContainer {
        flex-direction: column;

    }

    .filterForDbContainer {
        flex-direction: column;
        width: 100%;
    }

    .FilterCheckbox {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .CurrentCheckbox>label {
        padding-left: 0;
    }

    .FilterSubmit {
        width: -webkit-fill-available;
    }

    .grid {
        width: 100%;
    }

    .FilterIcon {
        display: block;
    }
    .ResponsiveCheckbox {
        display: flex;
    }
    
    .NotResponsiveCheckbox {
        display: none;
    }
}

@media only screen and (max-width: 535px) {
    .productItem {
        width: 100%;
    }

    .grid {
        width: 100%;
    }
}