

ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.flex_bar {
    display: flex;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5%;
}

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 2.5rem;
}

.logo>img {
    width: auto;
}

.search {
    display: flex;
    background-color: white;
    width: 20%;
    height: 2.5rem;
    border-left: 5px solid rgb(240, 240, 240);
    padding-left: 10px;
}

.search>input {
    height: -webkit-fill-available;
    border: none;
    width: 85%;
    -webkit-appearance: none;
    outline: none;
}

.search>div {
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search>div>img {
    height: 50%;
    width: auto;
    cursor: pointer;
}

.user {
    display: flex;
    background-color: white;
    width: 40%;
    height: 2.5rem;
    border-left: 5px solid rgb(240, 240, 240);
    justify-content: center;
}

.profile {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 30px;
}

.profile>span {
    display: flex;
}

.profile>img {
    height: 50%;
    margin-right: 5px;
    margin-left: 30px;
}

.basket {
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.basket>span {
    display: flex;
}

.basket>img {
    height: 50%;
    margin-right: 5px;
}

.navigation {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.extra_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.rodal-close span {
    width: 30px;
    height: 30px;
}

.rodal-dialog {
    text-align: center !important;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;

    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    margin-top: 20px;
}

.un:focus {
    border: 2px solid rgba(201, 126, 176, 0.541) !important;
}

.submit {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #858585, #282828);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;

    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.06);
}

.submit a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

.sign {
    padding-top: 40px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.socialAuth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.SocialMediaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.SocialMediaIcon:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}

.SocialMediaIcon>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.otherOption {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.AuthButton {
    color: rgb(29, 157, 216);
    text-decoration: underline;
    cursor: pointer;
}

.otherProp {
    margin-top: 40px;
}
.authError {
    background-color: rgb(245, 111, 111, 0.7);
    width: 76%;
    margin-bottom: 27px;
    margin-left: 50px;
}

.hamburger {
    display: none;
    background: white;
    font-size: 20px;
    height: 35px;
    width: 35px;
}


@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .search {
        width: 100%;
        border: none;
        margin-bottom: 10px;
        justify-content: center;
    }

    .search>input {
        width: 15%;
    }

    .search>div {
        width: 10%;
    }

    .flex_bar {
        flex-direction: column;
    }

    .user {
        width: 100%;
        border: none;
        margin-bottom: 10px;
    }

    ul li {
        display: block;
    }

    .profile {
        width: 60%;
    }

    .basket {
        width: 40%;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    .myListResponsive {
        display: block;
    }

    .menuList {
        display: none;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
    }
}